.gallery img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin: 20px auto;
}

@media only screen and (max-width: 600px) {
  .gallery img {
    width: 250px;
    height: 200px;
  }
}
