.nft_btn {
  padding: 5px 10px;
  border: 1px solid rgb(81, 81, 81);
  margin: 0px 15px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    96deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(189, 13, 195, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
  font-weight: bold;
  border-radius: 20px;
  text-decoration: none;
  transition: 300ms;
  text-align: center;
}

.nft_btn:hover {
  color: burlywood;
  text-decoration: none;
  transform: scale(1.1);
}

.balance {
  display: flex;
  align-items: center;
}

.balance img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.balance p {
  margin: 0;
  color: white;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .nft_btn {
    margin: 15px 0px;
    padding: 5px 10px;
    width: 40%;
  }
}

@media only screen and (max-width: 768px) {
  .nft_btn {
    margin: 15px 0px;
    padding: 5px 10px;
    width: 40%;
  }
}
